.jumbotron {
    background-image: url('../img/pizza.png');
    background-size: cover;
    height: 346px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.tab-pane fade show active {
    width: 100%;
}
