* {
    box-sizing: border-box;

}

a {
    display: inline-block;
    text-decoration: none;
    color: black;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #C1C1C1;
    width: 100%;
    order:1;
}

.list {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    margin-top: 5px;
    margin-left: 0;
    padding: 0 20px;
}

li {
    font-family: 'Work Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin: 6px;
}

nav ul li:nth-child(5) {
    margin-left: auto;
}

nav a:hover {
    color: blue;
}


.logo-div {
    font-family: 'Montserrat', sans-serif;
    padding-top: 0.2em;
    font-size: 3em;
    width: 25px;
    top: 0;
    display: flex;

}

.social-media-links > a {
    margin: 5px;

}


