.fancy-header {
    color: greenyellow;
}

h1 {
    text-align: center;
}

h2 {
    text-decoration: underline ;
}

html {
    background-color: darkseagreen;
    background-image: url("../img/background_orange.jpeg");
    background-size: cover;
    font-style: italic;

}

img {
    border-radius: 8px;
}

ul {
    list-style: circle ;
}

table, th, td {
    border: 1px solid;
    font-size: 16px;
    padding: ;
}

th {
    padding-top: 20px
}

a:link {
    color: darkred;
}

a:visited {
    color: greenyellow;
}

a:hover {
    color: gold;
}

a:active{
    color: black;
}
