.fancy-header {
    color: whitesmoke;
}

h1 {
    text-align: center;
}

h2 {
    text-decoration: underline ;
}

html {
    background-color: darkseagreen;
    background-image: url("../img/background_orange.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-style: italic;

}

img {
    border-radius: 8px;
}

ul, ol {
    list-style: circle ;
}

table, th, td {
    border: 1px solid;
    border-style: groove;
    border-color: darkblue;
    font-size: 16px;
    padding-top: 20px
}

thead {
    background-color: grey;
    color: white;
}

a:link {
    color: darkred;
}

a:visited {
    color: greenyellow;
}

a:hover {
    color: gold;
}

a:active{
    color: black;
}

header {
    background-color: rgba(49, 28, 16, 0.56);
    color: #AABBCC;
    text-align: center;
    font-family: fantasy;
}
